* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ECDEF5;
    font-family: Roboto, sans-serif;
    position: relative;
}

.container {
    max-width: 600px;
    margin: 0px auto;

}

.apply_box {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0px auto;
    margin-top: 20px;
    border-radius: 10px;
    border-top: 10px solid;
    border-color: #6E0BAB;
}

.apply_box h1 {
    margin-bottom: 10px;
}

.apply_box p {
    font-style: Arial;
    margin-bottom: 8px;
}

.next_line {
    color: red;
}

.container1 {
    max-width: 900px;

    margin-top: 2px;

}

.apply_box1 {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0px auto;
    margin-top: 20px;
    border-radius: 10px;

}

.form_control label {
    font-size: 20px;

}

.form_control p {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 15px;
    display: flex;
    flex-direction: column;

}

.container2 {
    max-width: 900px;

    margin-top: 2px;

}

.apply_box2 {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0px auto;
    margin-top: 20px;
    border-radius: 10px;

}

/*
.form_control2 label {
    font-size: 20px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;

}

.form_control2 p {
    margin-bottom: 20px;
}
*/
hr {
    margin-bottom: 20px;
}

.container3 {
    max-width: 900px;

    margin-top: 2px;

}

.apply_box3 {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0px auto;
    margin-top: 20px;
    border-radius: 10px;

}

/*
.form_control3 label {
    font-size: 20px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;

}

.form_control3 p {
    margin-bottom: 20px;
}
*/
.button_container {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;

}

button {
    background-color: #6E0BAB;
    border-radius: 4px;
    border: transparent solid;
    padding: 5px 10px;
    color: white;
    transition: 0.3s ease-in;


}

button:hover {
    background-color: #ccc;
    border: 2px solid mediumturquoise;
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.last_div {
    align-content: center;
}

.last_div p {
    font-size: 10px;
    margin-top: 15px;
}

.P1 {
    margin: 20px;
}

.P2 {
    text-align: center;
}

.last_div h3 {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
    color: #A3B3B6;
}

.input_box {
    border: 0;

}

.input_box:focus-visible {
    outline: none;

}

.red {
    color: red;
}

a {
    color: black;
}

.pencil {
    width: 50px;
    right: 30px;
    bottom: 5px;
    position: absolute;
}